export DRONE_SERVER=<redacted>
export DRONE_TOKEN=<insert token>
export RISCV=$PWD/tools/riscv
export RVPK=$RISCV/riscv32-unknown-elf/bin/pk
VIVADO=$PWD/tools/Xilinx/Vivado/2020.1
export PATH=$VIVADO/bin:$RISCV/bin:$RISCV/riscv32-unknown-elf/bin:$PATH
